header {
	width: 100%;
	height: 30%;


	.cabecera {
		display: flex;
		width: 100%;
		.menu {
			z-index: 20;
            display: flex;
            justify-content: center;
            align-items: center;
			width: 40%;
			height: 100%;
			.athor {
				width: 20%;
				.title {
					font-family: 'Nunito', sans-serif;
					text-shadow: -1px 4px 10px rgba(26,26,26,0.34);
                    font-size: 2em;
                    color: #e7e7e7;
					font-weight: 900;
				}
			}
			.other_options {
                width: 80%;
                display: flex;
                justify-content: space-evenly;
                .option {
                    text-decoration: none;
                    color: #dddddd ;
					font-weight: 400;
					&:hover{
						color: #ee6b8e;
						cursor: pointer;
					}
				}
			}
		}
	
	}
}
